*{
    margin: 0;
    padding: 0;
}

body{
    background:#E5E5E5;
}
/*Navbar Part*/
.tnavbar{
    background:#E5E5E5 ;
}

.navbar-brand{
    color: #000;
    font-size: 30px;
    text-decoration: none;

}

.tnav-item{
    margin: 10px;
}
.tnav-btn{
    text-decoration: none;
    margin: 10px;
    color: black;
    border-radius: 20px;
    font-weight: 700;
}

.tnav-btn:hover{
    background-color:#388087 ;
    color: white;
}


/*Banner Part*/
.bundle{
    margin: 0 60px;
}
.banner-text {
    color: #000;
    text-align: left;
    margin: 20px 40px ;   
}

.banner-text h1{
    font-size: 55px;
    margin:20px 20px;
}    

.banner-text h4{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
} 

.xplr{
    padding: 11px;
    background: #388087 ;
    color:#fff;
    cursor: pointer;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 40px;
    align-items: center;
    margin-bottom: 10px;
}

.xplr:hover{
    background: #93c2c7 ;
}

/*Trending Blogs Part*/
.trending{
    margin: 100px 0;
}

.p{
    padding: 15px;
    margin: 50px 0;
    font-size: 20px;
    font-weight: bold;
}

.horizontal{
    margin:20px 50px;
}
.trend-blog{
    background-color: #f2f2f2 ;
    margin-bottom: 20px;
    align-items: center;
    justify-content:space-evenly;
}

/*About Us*/

.about_sec{
    margin-top: 40px;
}

.abt{
    margin:100px 20px;
}
.abt-text{
    font-size: 15px;
    text-align: justify;
    margin: 0 20px;
}

.contact{
    align-items: center;
    justify-content: center;
    padding:0 30px;
    margin:30px 100px;
}


.send{
    margin: 30px;
}
.sendbtn{
    padding: 20px;
    border-radius: 20px;
    color: white;
    background-color: #388087;
    text-decoration: none;
    margin: 50px;
}

.sendbtn:hover{
    background: #93c2c7 ;
    color: white;
}



@media only screen and (max-width: 640px){
    .banner-text{
        text-align: justify;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
    }
    .last_img{
        padding: 30px;
    }

    .banner-text h1{
        font-size: 33px;
        margin:0 10px;
    }

    .abt-text{
        margin: 20px;
        margin-left: -1px;
        align-items: center;
        justify-content: center;
    }

    .contact{
        margin:30px 20px ;
    }

}