.bg{
    background-color: #f6f6f2;
}
h3{
    padding: 13px;
    color: #388087;
    font-weight: bold;
}
h6, .tag{
    position: relative !important;
    right: -6% !important;
    color: #388087;
    font-weight: 600;
    font-size: large;
    padding-top: 15px;
}
 .bumton{
     color: #fff;
     background-color: #388087;
 }
.att{
    margin-top: 25px;
    font-weight: bold;
    margin-left: 30px;
    color: #388087;
}

input[type=text]{
    border: 3px solid #388087;
}
input[type=text]:focus {
    border: 3px solid #377379;
  }
textarea[name=content]{
    border: 3px solid #388087;
}
textarea[name=content]:focus{
    border: 3px solid #377379;
}

.displayTags{
    line-height: 40px;
}

h4{
    color: #388087;
}

.uploadImage{
    border: 3px solid #388087;
}

.badges{
    display: inline-block;
    padding: 0px 10px !important; 
    background-color: #388087;
    color: white;
    border-radius: 60px;
    margin: 5px !important;
}



    